<div class="container">
  <div class="row">

    <div class="col-sm-12 text-center">
      <h1>XYPN Scraper</h1>
    </div>

    <div class="col-sm-6 col-sm-offset-3 text-center">
      <p>
        The desktop and mobile scores listed are calculated by Google's PageSpeed Insights 
        and represent a website's overall speed and performance. PageSpeed Insights analyzes 
        a page to see if it follows Google's recommendations for making a page render in under a 
        second. Research has shown that any delay longer than a second will cause the user to 
        interrupt their flow of thought, creating a poor experience. A higher score is better 
        and a score of 85 or above indicates that the page is performing well.
      </p>
    </div>

  <end>

  <div class="row">
    <div class="col-sm-12">

      <table class="table table-striped table-condensed">
        <tr>
          <th>Advisor</th>
          <th>Business</th>
          <th>XYPN Profile</th>
          <th>Website</th>
          <th>
            Desktop
            <%= link_to "&#8593".html_safe, websites_path(sort: 'desktop_asc') %>
            <%= link_to "&#8595".html_safe, websites_path(sort: 'desktop_desc') %>
          </th>
          <th>
            Mobile
            <%= link_to "&#8593".html_safe, websites_path(sort: 'mobile_asc') %>
            <%= link_to "&#8595".html_safe, websites_path(sort: 'mobile_desc') %>
          </th>
        </tr>

        <% @websites.each do | website | %>
          <tr>
            <td><%= website.advisor %></td>
            <td><%= website.business %></td>
            <td><%= link_to "Profile", website.xypn_profile, :target => '_blank' %></td>
            <td><%= link_to "#{website.url}", website.url, :target => '_blank' %></td>
            <td><%= website.desktop_score %></td>
            <td><%= website.mobile_score %></td>
          </tr>
        <% end %>
      </table>

    <end><!-- col-sm-12 -->
  <end><!-- row -->
<end><!-- container -->